# =============== # 
# Unity generated # 
# =============== #
 Temp/ 
 Obj/ 
 UnityGenerated/ 
 Library/ 
 # ===================================== #
 # Visual Studio / MonoDevelop generated #
 # ===================================== #
 ExportedObj/ 
 *.svd 
 *.userprefs 
 *.csproj 
 *.pidb 
 *.suo 
 *.sln 
 *.user 
 *.unityproj 
 .booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DSStore?
. 
.Spotlight-V100 
.Trashes 
ehthumbs.db 
Thumbs.db 
# ================ # 
# Project Specific # 
# ================ # 
Builds/ 
Screenshots/